<!DOCTYPE html>
<html>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title> Template | Evanglische Sekunderschule Haldensleben</title>
      <link rel="stylesheet" href="Template.css">
      <link rel="icon" href="Res/Bild/Logo/Logo HDL.jpg">
</head>
<body>
      <div class="version"> WORK IN PROGESS <br>Baut nummer: #3<br>Version: 0.1 [in-dev]</div>
      <div class="Hauptdiv">
            <div class="Navdiv">
                  <div class="logo">
                        <a href="index.html">
                              <img src="Res/Bild/Logo/logo-kopf.jpg">
                        </a>
                  </div>
            <br>
            <div class="footer">
                  <footer onclick="window.location.href='https://hdl-online.de/'">2021 - 2026 server by HDL-online
                  </footer>
                  <p style="line-height: 0;" onclick="window.location.href='https://pancake-web-eight.vercel.app/'">
                        designer by koa [mayi-oi]</p>
                  <p onclick="window.location.href='Admin.html'">Admin</p>
            </div>
      </div>
</body>